<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<body>
   {% for group in groups %}
      {{ group }}
      {% for student in group.students.all %}
         <div style="padding-bottom: 100px; border: 1px solid black;"> 
            <p>{{ student.full_name }}</p>
            <p>
               <h4>Test 1</h4>
               {% for answer in student.answer_of_TEST1.all %}
                  <ul>
                     <li>{{ answer }}</li> - Правильный ответ {{ answer.correct_answer }}
                  </ul>
               {% empty %}
                  Пока не ответил
               {% endfor %}              
            </p>
            <p>
               <h4>Test 2, 5</h4>
               {% for answer in student.TextAnswers.all %}
                  <ul>
                     <li>{{ answer }}</li>
                  </ul>
               {% empty %}
                  Пока не ответил
               {% endfor %}            
            </p>
            <p>
               <h4>Test 3</h4>
               {% for answer in student.third_test_variant.all %}
                  <ul>
                     <li>{{ answer }}</li> - Правильный ответ: {{ answer.correct_answer }}
                  </ul>
               {% empty %}
                  Пока не ответил
               {% endfor %}              
            </p>
            <p>
               <h4>Test 4</h4>
               {% for answer in student.answer_of_TEST4.all %}
                  <ul>
                     <li>{{ answer }}</li> - Правильный ответ: {{ answer.correct_answer }}
                  </ul>
               {% empty %}
                  Пока не ответил
               {% endfor %}            
            </p>

            <p>
               <h4>Test 6</h4>
               <ol>
                  {% for answer in student.Test6Answers.all %}
                     <li>{{ answer }}</li>
                  {% empty %}
                     Пока не ответил
                  {% endfor %} 
               </ol> 
               <ol>
                  {% for question in test6.number_questions.all %}
                        <li>Правильныq ответ: {{ question.correct_answer }}</li>
                  {% endfor %}  
               </ol>        
            </p>
            <p>
               <h4>Test 7</h4>
               {% for answer in student.seventh_test_variant.all %}
                  <ul>
                     <li>{{ answer }}</li> - Правильный ответ: {{ answer.correct_answer }}
                  </ul>
               {% empty %}
                  Пока не ответил
               {% endfor %}              
            </p>
            <p>
               <h4>Test 8</h4>
               <ol>
                  {% for answer in student.Test8Answers.all %}
                     <li>{{ answer }}</li>
                  {% empty %}
                     Пока не ответил
                  {% endfor %}   
               </ol>        
               <ol>
                  {% for question in test8.number_questions.all %}
                        <li>Правильныq ответ: {{ question.correct_answer }}</li>
                  {% endfor %}  
               </ol>    
            </p>
         </div>
      {% endfor %}
   {% endfor %}
</body>
</html>